<!-- <div class="main-content">
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">Afaka BACC serie A2</p>
                        <h3 class="card-title">49/52
                            <small></small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">store</i>
                            <a href="#pablo">Mahafa-po ny vokatra</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Afaka BACC serie A1</p>
                        <h3 class="card-title">45/46</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Voalohany teto Madagasikara
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <p class="card-category">Afaka BACC serie C</p>
                        <h3 class="card-title">35/40</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">local_offer</i> Mendrim-piderana
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">Afaka BACC serie D</p>
                        <h3 class="card-title">24/30</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Tsara
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Ny taham-piovan'ireo afaka Bacc nandritra ny 5 taona</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Email Subscriptions</h4>
                        <p class="card-category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-rose">
                        <div class="ct-chart" id=""></div>
                        <h5>L'actualite de cette semaine</h5>
                        <p>Les eleves les plus brillants</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="_26w4 _26w9 _26wu size-small-48">
                                    <img src="../../../../../assets/icons/bankaccount.jpg" alt="" class="pre-footer-card-avatar mat-card-avatar" md-card-avatar="">
                            </div>
                            <div class="col-md-9">
                                <span class="_nbt"><a href=""><b>Odon Fidaulis</b></a></span>
                                <p>Reharehan'ny Sekolinay</p>
                            </div>
                        </div><hr>
                        <div class="row">
                            <div class="_26w4 _26w9 _26wu size-small-48">
                                <img src="../../../../../assets/icons/index.jpg" alt="" class="pre-footer-card-avatar mat-card-avatar" md-card-avatar="">
                            </div>
                            <div class="col-md-9">
                                <span class="_nbt"><a href=""><b>ANDRIANAJAKATIANA</b></a></span>
                                <p>Matanjaka</p>
                            </div>
                        </div><hr>
                        <div class="row">
                            <div class="_26w4 _26w9 _26wu size-small-48">
                                <img src="../../../../../assets/images/profile.jpg" alt="" class="pre-footer-card-avatar mat-card-avatar" md-card-avatar="">
                            </div>
                            <div class="col-md-9">
                                <span class="_nbt"><a href=""><b>Ronaldihno</b></a></span>
                                <p>Meilleur joueur de l'epoque</p>
                            </div>
                        </div><hr>
                        <div class="row">
                            <div class="_26w4 _26w9 _26wu size-small-48">
                                <img src="../../../../../assets/images/shibainu.jpg" alt="" class="pre-footer-card-avatar mat-card-avatar" md-card-avatar="">
                            </div>
                            <div class="col-md-9">
                                <span class="_nbt"><a href=""><b>Lionel Messi</b></a></span>
                                <p>Footbaleur Professionel</p>
                            </div>
                        </div>
                        <span>Afficher suite...</span>
                        <hr>
                        <h4 class="card-title">Commentaire</h4>
                        <p class="card-category">Dernier mis a jours</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
   -->

   <div class="main-containt">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header card-header-tabs card-header-primary">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <span class="nav-tabs-title">Tasks:</span>
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="nav-item">
                                            <a mat-button class="nav-link active" href="" data-toggle="tab">
                                                <i class="material-icons">bug_report</i> Listes
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a mat-button class="nav-link" href="" data-toggle="tab">
                                                <i class="material-icons">code</i> Evenement
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a mat-button class="nav-link" href="" data-toggle="tab">
                                                <i class="material-icons">cloud</i> Nouveaux
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-hover">
                                <thead class="text-warning">
                                    <th>ID</th>
                                    <th>Nom</th>
                                    <th>Prenom</th>
                                    <th>Moyenne</th>
                                    <th>Age</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>N°1</td>
                                        <td>RAKOTOKAPOAKA</td>
                                        <td>Jean Bas</td>
                                        <td>15.36</td>
                                        <td>23</td>
                                    </tr>
                                    <tr>
                                        <td>N°2</td>
                                        <td>CRISTIANO</td>
                                        <td>Ronaldo</td>
                                        <td>11.21</td>
                                        <td>21</td>
                                    </tr>
                                    <tr>
                                        <td>N°3</td>
                                        <td>LOUIS</td>
                                        <td>Suarez</td>
                                        <td>14.2</td>
                                        <td>22</td>
                                    </tr>
                                    <tr>
                                        <td>N°4</td>
                                        <td>PHILIPE</td>
                                        <td>Melo</td>
                                        <td>8.5</td>
                                        <td>20</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
