
<div class="view gradient-card-header blue darken-2">
  <h4 class="h4-responsive text-white"> Ajout nouveau payement </h4>
</div>
<!-- Default form login -->
<form class="text-center border border-light p-5">
  <p class="h4 mb-4">Sign in</p>
  <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" ng-virtual-keyboard
         ng-virtual-keyboard-layout="alphanumeric">

  <div class="d-flex justify-content-around">
    <div>
      <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
    </div>
    <div>
      <a href="">Forgot password?</a>
    </div>
  </div>
  <button mdbBtn color="info" block="true" class="my-4" type="submit">Sign in</button>

  <p>Not a member?
    <a href="">Register</a>
  </p>
  <p>or sign in with:</p>
  <a type="button" class="light-blue-text mx-2">
    <!-- <i class="fa fa-facebook"></i> -->
    <mdb-icon icon="facebook"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <!-- <i class="fa fa-twitter"></i> -->
    <mdb-icon icon="twitter"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <!-- <i class="fa fa-linkedin"></i> -->
    <mdb-icon icon="linkedin"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <!-- <i class="fa fa-github"></i> -->
    <mdb-icon icon="github"></mdb-icon>
  </a>
</form>