<mat-toolbar  class="view gradient-card-header blue darken-2" style="padding:3%!important" color="primary">
  <span>
    Listes des administrateurs
  </span>
  <span fxFlex></span>
  <a mdbBtn  [routerLink]="['/menu/add-admin']"
     class="tz-btn-circle m-1 rounded-circle relative waves-light text-center" style="background: #a6c!important;color: aliceblue;"  color="secondary" mdbWavesEffect>
    <i class="fa fa-plus-circle"></i>
  </a>
</mat-toolbar>
<section class="mt-lg-5">
  <div class="tz-btn-content text-right mb-2">
  </div>
</section>

