<h2 class="tz-dialog-title"  mat-dialog-title>
  Information sur {{etudiant.firstname}}
  <i class="fa fa-user-circle"></i>
</h2>
<mat-dialog-content>
    <ul class="list-group">
      <li class="list-group-item">
        <table>
          <tr>
            <td>Sexe : </td>
            <td>{{etudiant.sexe}}</td>
          </tr>
        </table>
      </li>
      <li class="list-group-item">
        <table>
          <tr>
            <td>Nom : </td>
            <td>{{etudiant.lastname}}</td>
          </tr>
        </table>
      </li>
      <li class="list-group-item">
        <table>
          <tr>
            <td>Prénom : </td>
            <td>{{etudiant.firstname}}</td>
          </tr>
        </table>
      </li>
      <li class="list-group-item">
        <table>
          <tr>
            <td>Age : </td>
            <td>{{etudiant.age}}</td>
          </tr>
        </table>
      </li>
      <li class="list-group-item">
        <table>
          <tr>
            <td>Adresse : </td>
            <td>{{etudiant.adresse}}</td>
          </tr>
        </table>
      </li>
      <li class="list-group-item">
        <table>
          <tr>
            <td>Email : </td>
            <td>{{etudiant.email}}</td>
          </tr>
        </table>
      </li>
      <li class="list-group-item">
        <table>
          <tr>
            <td>Contact : </td>
            <td>{{etudiant.contact}}</td>
          </tr>
        </table>
      </li>
    </ul>
    <button type="button" mdbBtn class="d-block tz-modal-close-btn"
            color="secondary" (click)="cancel()" mdbWavesEffect>
      Fermer
    </button>
</mat-dialog-content>
