html, body{ background-color: #0c3750!important; }
.maskSpinner {
  position: fixed;
  z-index: 999;
  height: 200px;
  width: 100px;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* Absolute Center Spinner */
  &:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #166B37;
    opacity: 0.4;
  }
}
