# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt
    #Configuration FOSUser
    from_email_address : tahiana.rakotonirina@netapsys.fr
    for_sender_name : Techzara
    # configuration lexik_jwt_authentication:
    #supported by the default encoder for the configured crypto engine :
    #HS256, HS384, HS512 (HMAC)
    #RS256, RS384, RS512 (RSA)
    ##ES256, ES384, ES512 (ECDSA)
    jwt_private_key_path: '%kernel.project_dir%/app/config/jwt/private.pem'
    jwt_public_key_path:  '%kernel.project_dir%/app/config/jwt/public.pem'
    jwt_key_pass_phrase: telma
    jwt_token_ttl: 3600