<section fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="30px">
  <div fxFlex>
    <p>Page interdite !!!</p>
    <p>Vous êtes interdit de naviguer sur cette page.</p>
  </div>
  <div fxFlex>
    <mat-checkbox (change)="checkChanged($event)" color="primary">Je veux reporter cet erreur.</mat-checkbox>
  </div>
  <div fxFlex *ngIf="reportedError">
    <mat-progress-spinner mode="determinate" [value]="errorPercentage"></mat-progress-spinner>
    <h2>{{errorPercentage}}%</h2>
  </div>
</section>
