html, body {
  background-color: white !important;
}
@media screen and (max-width: 800px){
  .display-1{font-size: 3rem!important;}
}
@media screen and (max-width: 540px){
  .display-1{font-size: 2rem!important;}
  .tz-d-flex{height: 75vh!important;margin-bottom: 15px!important;}
  .tz-view-intro{height: 80vh!important;margin-bottom: 15px!important;}
  .tz-landing-button{display: block;margin: 10px}
}