<app-sk-navbar></app-sk-navbar>
<div class="view intro tz-view-intro"
     style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2844%29.jpg); background-attachment: fixed; height: 100vh;">
    <div class="full-bg-img mask rgba-white-light">
        <div class="container">
            <div class="d-flex align-items-center d-flex justify-content-center tz-d-flex" style="height: 100vh">
                <div class="row mt-5">
                    <div class="col-md-12 wow fadeIn mb-3">
                        <div class="intro-info-content text-center">
                            <h2 class="h1 display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s">{{techzara}}<a
                                    class="indigo-text font-bold">{{titles}}</a></h2>
                            <h5 class="font-up mb-3 mt-1 font-bold wow fadeIn" data-wow-delay="0.4s">
                                <strong>{{opensource}}</strong></h5>
                            <a mdbBtn color="light-blue" routerLink="/login" routerLinkActive="active" size="lg"
                               class="wow fadeIn waves-light tz-landing-button" mdbWavesEffect data-wow-delay="0.4s"><i
                                    class="fa fa-arrow-circle-o-right"></i> &nbsp;{{loginName}}</a>
                            <a mdbBtn color="light-blue" href="https://github.com/Techzara/sekoly-numerika"
                               target="_blank" size="lg"
                               class="wow fadeIn waves-light tz-landing-button" mdbWavesEffect data-wow-delay="0.4s"><i
                                    class="fa fa-github"></i> &nbsp;{{githubName}}</a>
                            <a mdbBtn href="#team" color="indigo" size="lg"
                               class="wow fadeIn waves-light tz-landing-button" mdbWavesEffect data-wow-delay="0.4s">
                                <i class="fa fa-group"></i>&nbsp;{{Team}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 text-center mb-5" [@bounce]="bounce">
                <h2 class="h1 font-bold light-blue-text my-5">{{titles}}</h2>
                {{but}} :
                <ol class="text-left" *ngFor="let butss of buts">
                    <li>{{butss.name}}</li>
                </ol>

                <h1><strong>{{soutient}}</strong></h1>
                <ul class="list-group list-group-flush text-left">
                    <div *ngFor="let soute of soutients">
                        <li class="list-group-item">{{soute.name}}</li>
                    </div>
                    <li class="list-group-item">{{soutient5}} <a href="{{gitTz}}"
                                                                 target="_blank">{{sout1}}</a> {{sout2}}</li>
                </ul>


            </div>
            <div class="col-md-6 text-center " [@bounceInLeft]="bounceInLeft">
                <img style="width: 66%; height: 400px;margin-top:15% ;  position: relative;" src="{{imageright}}"
                     alt="">
            </div>
        </div>
    </div>
</section>

<section class="col-md-12">
    <h2 class="text-center indigo-text h1 py-5">
        <strong>{{sekoliko_vue}} 🏫 </strong>
    </h2>
    <div class="row">
        <div class="col-md-4 mx-auto my-5" *ngFor="let image of imagesBasic">
            <a><img (click)="video1.show()" class="img-fluid z-depth-1" src="{{image.img}}"
                    alt="video" data-toggle="modal" data-target="#modal1"></a>
            <div mdbModal #video1="mdbModal" class="modal fade" tabindex="-1" role="dialog"
                 aria-labelledby="myBasicModalLabel"
                 [config]="{backdrop: false, ignoreBackdropClick: false}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <mat-dialog-content>
                            <img src="{{image.img}}" style="width: 100%" height="auto" alt="">
                        </mat-dialog-content>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid" id="team">
    <div class="row">
        <div class="col-md-12 text-center my-5">
            <section class="team-section text-center my-5">
                <h2 class="h1-responsive font-weight-bold indigo-text my-5">{{equipe}} <i class="fa fa-group"></i></h2>
                <p class="grey-text w-responsive mx-auto mb-5">{{pre_equipe}}</p>
                <div class="row">
                    <div class="col-lg-2 col-md-2  mb-lg-0 mb-5" *ngFor="let dev of developer">
                        <div class="avatar mx-auto">
                            <img width="70%" src="{{dev.img}}" class="rounded-circle z-depth-1"
                                 alt="Sample avatar">
                        </div>
                        <h5 class="font-weight-bold mt-4 mb-3">{{dev.name}}</h5>
                        <p class="text-uppercase blue-text">
                            <strong>{{dev.dev}}</strong>
                        </p>
                        <p class="grey-text">{{dev.tache}}</p>
                        <ul class="list-unstyled mb-0">
                            <a href="{{dev.facebook}}" target="_blank" class="p-2 fa-lg fb-ic">
                                <i class="fa fa-facebook blue-text"> </i>
                            </a>
                            <a href="{{dev.githube}}" target="_blank" class="p-2 fa-lg ins-ic">
                                <i class="fa fa-github blue-text"> </i>
                            </a>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center my-5">
            <h2 class="h1 font-bold indigo-text mb-5">{{contributeur}}</h2>
            <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                <mdb-carousel-item *ngFor="let part of imageSlide">
                    <div class="view w-100">
                        <img class="d-block w-100" src="{{part.img}}" alt="First slide">
                        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                    </div>
                    <div class="carousel-caption black-text">
                        <h3 class="h3-responsive">{{part.partenaire}}</h3>
                        <p>{{part.thanks}}</p>
                    </div>
                </mdb-carousel-item>
            </mdb-carousel>
        </div>
    </div>
</div>

<footer class="page-footer font-small blue" *ngFor="let foot of footer">
    <div class="footer-copyright text-center py-3">{{foot.right}}
        <a href="https://www.techzara.org">{{foot.cop}}</a>
    </div>
</footer>
