<div class="view gradient-card-header blue darken-2">
  <h4 class="h4-responsive text-white">Liste des Etudiants en TA1 : {{listEtudiants.length}} </h4>
</div>
<section class="mt-5">
        <div class="px-2">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-striped table-bordered" style="width:100%">
            <thead>
              <tr>
                <th  class="text-center">id</th>
                <th  class="text-center">Nom</th>
                <th  class="text-center">Prenom</th>
                <th  class="text-center">email</th>
                <th  class="text-center">Age</th>
                <th  class="text-center">Sexe</th>
                <th  class="text-center">matricule</th>
                <th  class="text-center">contact</th>
                <th  class="text-center">Adresse</th>
                <th  class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr #list *ngFor="let etudiants of etudiant">
                <td  class="text-center">{{etudiants.user_id.user_id}}</td>
                <td  class="text-center">{{etudiants.user_id.lastname}}</td>
                <td  class="text-center">{{etudiants.user_id.firstname}}</td>
                <td  class="text-center">{{etudiants.user_id.email}}</td>
                <td  class="text-center">{{etudiants.user_id.age}}</td>
                <td  class="text-center">{{etudiants.user_id.sexe}}</td>
                <td  class="text-center">{{etudiants.user_id.matricule}}</td>
                <td  class="text-center">{{etudiants.user_id.contact}}</td>
                <td  class="text-center">{{etudiants.user_id.adresse}}</td>
                <td class="text-center">
                  <a mdbBtn data-toggle="modal"  (click)="detailsModal.show()"  data-target="#detailsModal"
                     class="tz-btn-circle m-1 rounded-circle relative waves-light" color="info">
                    <i class="fa fa-eye"></i>
                  </a>

                  <!--modal details-->
                  <div mdbModal #detailsModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
                       [config]="{backdrop: false, ignoreBackdropClick: false}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close pull-right" aria-label="Close" (click)="detailsModal.hide()">
                            <span aria-hidden="true">×</span>
                          </button>
                          <h4 class="modal-title w-100">{{etudiants.user_id.lastname}}  <i class="fa fa-user-circle"></i></h4>
                        </div>
                        <div class="modal-body">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                              <div class="text-left w-30">ID</div>
                              <div class="text-right">{{etudiants.user_id.user_id}}</div>
                            </li>
                            <li class="list-group-item">
                              <div class="text-left">Nom</div>
                              <div class="text-right">{{etudiants.user_id.lastname}}</div>
                            </li>
                            <li class="list-group-item">
                              <div class="text-left">Prenom</div>
                              <div class="text-right">{{etudiants.user_id.firstname}}</div>
                            </li>
                            <li class="list-group-item">
                              <div class="text-left">Matricule</div>
                              <div class="text-right">{{etudiants.user_id.matricule}}</div>
                            </li>
                            <li class="list-group-item">
                              <div class="text-left">Age</div>
                              <div class="text-right">{{etudiants.user_id.age}}</div>
                            </li>
                            <li class="list-group-item">
                              <div class="text-left">Contact</div>
                              <div class="text-right">{{etudiants.user_id.contact}}</div>
                            </li>
                            <li class="list-group-item">
                              <div class="text-left">Sexe</div>
                              <div class="text-right">{{etudiants.user_id.sexe}}</div>
                            </li>
                            <li class="list-group-item">
                              <div class="text-left">Adresse</div>
                              <div class="text-right">{{etudiants.user_id.adresse}}</div>
                            </li>
                          </ul>
                        </div>
                        <div class="modal-footer">
                          <button type="button" mdbBtn color="secondary"
                                  class="waves-light w-100" aria-label="Close" (click)="detailsModal.hide()" mdbWavesEffect>Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--fin modal details-->
                  <a mdbBtn data-toggle="modal" data-target="#editModal"
                     class=" tz-btn-circle  m-1 relative waves-light" color="success"  (click)="editModal.show()">
                    <i class="fa fa-edit"></i>
                  </a>
                  <!--edit modals-->
                  <div mdbModal #editModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
                       [config]="{backdrop: false, ignoreBackdropClick: false}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
                            <span aria-hidden="true">×</span>
                          </button>
                          <h4 class="modal-title w-100" >Modifier {{etudiants.user_id.lastname}}  <i class="fa fa-user-circle"></i></h4>
                        </div>
                        <div class="modal-body">
                          <div class="md-form mb-5">
                            <input type="text" id="orangeForm-name" value="{{etudiants.user_id.lastname}}" class="form-control validate"
                                   mdbInputDirective>
                            <label data-error="wrong" data-success="right" for="orangeForm-name">Etudiants Nom</label>
                            <input type="text" id="orangeForm-prenom" value="{{etudiants.user_id.firstname}}" class="form-control validate"
                                   mdbInputDirective>
                            <label data-error="wrong" data-success="right" for="orangeForm-name">Etudiants Prenom</label>
                            <input type="text" id="orangeForm-age" value="{{etudiants.user_id.age}}" class="form-control validate"
                                   mdbInputDirective>
                            <label data-error="wrong" data-success="right" for="orangeForm-age">Age</label>
                            <input type="text" id="orangeForm-matricule" value="{{etudiants.user_id.matricule}}" class="form-control validate"
                                   mdbInputDirective>
                            <label data-error="wrong" data-success="right" for="orangeForm-age">Matricule</label>
                            <input type="text" id="orangeForm-adresse" value="{{etudiants.user_id.adresse}}" class="form-control validate"
                                   mdbInputDirective>
                            <label data-error="wrong" data-success="right" for="orangeForm-adresse">Adresse</label>
                            <input type="text" id="orangeForm-sexe" value="{{etudiants.user_id.sexe}}" class="form-control validate"
                                   mdbInputDirective>
                            <label data-error="wrong" data-success="right" for="orangeForm-sexe">Sexe</label>
                            <input type="text" id="orangeForm-contact" value="{{etudiants.user_id.contact}}" class="form-control validate"
                                   mdbInputDirective>
                            <label data-error="wrong" data-success="right" for="orangeForm-sexe">Contact</label>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" mdbBtn color="secondary" class="waves-light w-50" aria-label="Close" (click)="editModal.hide()" mdbWavesEffect>Cancel</button>
                          <button type="button" mdbBtn color="primary" class="relative waves-light  w-50" mdbWavesEffect>Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--fin modal edit-->

                  <a mdbBtn data-toggle="modal" data-target="#detailsModal" (click)="deleteModal.show()"
                     class=" tz-btn-circle  m-1 relative waves-light" color="danger">
                    <i class="fa fa-trash"></i>
                  </a>
                  <!--modal delete-->
                  <div mdbModal #deleteModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
                       [config]="{backdrop: false, ignoreBackdropClick: false}" aria-hidden="true" aria-labelledby="myBasicModalLabel">
                    <div class="modal-dialog modal-sm" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModal.hide()">
                            <span aria-hidden="true">×</span>
                          </button>
                          <h4 class="modal-title w-100" id="myModalLabel">Supprimer <i class="fa fa-user-circle"></i></h4>
                        </div>
                        <div class="modal-body d-flex">
                          <button type="button" mdbBtn color="secondary" class="waves-light w-50" aria-label="Close" (click)="deleteModal.hide()" mdbWavesEffect>Cancel</button>
                          <button type="button" mdbBtn color="primary" class="relative waves-light w-50" mdbWavesEffect>Confirm</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--fin modal delete-->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
</section>
<div class="mask" *ngIf="loading">
  <app-radar-spinner
    [animationDuration]="4000"
    [size]="200"
    [color]="'#2e6bb1'"
  ></app-radar-spinner>
</div>
