<section class="mt-lg-5">
  <div class="row">
    <a routerLink="/menu/etudiant" class="col-xl-3 col-md-6 mb-r tz-md tz-md">
      <div class="card card-cascade cascading-admin-card">
        <div class="admin-up">
          <i class="fa fa-group primary-color"></i>
          <div class="data">
            <p>ÉTUDIANTS</p>
            <h4><strong>{{compteEtudiants}}</strong></h4>
          </div>
        </div>
        <div class="card-body">
          <div class="progress">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 25%"
                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p class="card-text">Cliquer pour voir les details</p>
        </div>
      </div>
    </a>
    <a routerLink="/menu/dashboard" class="col-xl-3 col-md-6 mb-r tz-md tz-md">
      <div class="card card-cascade cascading-admin-card">
        <div class="admin-up">
          <i class="fa fa-user-secret warning-color"></i>
          <div class="data">
            <p>PROFS</p>
            <h4><strong>{{comptesProff}}</strong></h4>
          </div>
        </div>
        <div class="card-body">
          <div class="progress">
            <div class="progress-bar bg grey darken-2" role="progressbar" style="width: 25%"
                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p class="card-text">Cliquer pour voir les details</p>
        </div>
      </div>
    </a>
    <a routerLink="/menu/salle" class="col-xl-3 col-md-6 mb-r tz-md tz-md">
      <div class="card card-cascade cascading-admin-card">
        <div class="admin-up">
          <i class="fa fa-home light-blue lighten-1"></i>
          <div class="data">
            <p>SALLES</p>
            <h4><strong>{{compteSalles}}</strong></h4>
          </div>
        </div>
        <div class="card-body">
          <div class="progress">
            <div class="progress-bar grey darken-2" role="progressbar" style="width: 75%"
                 aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p class="card-text">Cliquer pour voir les details</p>
        </div>
      </div>
    </a>
    <a routerLink="/menu/dashboard" class="col-xl-3 col-md-6 mb-r tz-md tz-md">
      <div class="card card-cascade cascading-admin-card">
        <div class="admin-up">
          <i class="fa fa-money red accent-2"></i>
          <div class="data">
            <p>PAYEMENT</p>
            <h4><strong>5</strong></h4>
          </div>
        </div>
        <div class="card-body">
          <div class="progress">
            <div class="progress-bar bg-primary" role="progressbar" style="width: 25%"
                 aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p class="card-text">Cliquer pour voir les details</p>
        </div>
      </div>
    </a>
  </div>
</section>
<section>
  <div class="row">
    <div class="col-md-12 mx-auto my-5">
      <div style="display: block">
        <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels" [colors]="chartColors" [options]="chartOptions"
                [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mx-auto text-center">
      <div class="row">
        <div class="col-md-4">
          <button class="btn btn-primary waves-light" mdbWavesEffect (click)="etatsEtudiants()">Etats étudiants</button>
        </div>
        <!--<div class="col-md-3">-->
          <!--<button class="btn btn-primary waves-light" mdbWavesEffect (click)="etatsProfs()">Etats profs</button>-->

        <!--</div>-->
        <div class="col-md-4">
          <button class="btn btn-primary waves-light" mdbWavesEffect (click)="statsProfsEtudiant()">Stats Profs et salle</button>

        </div>
        <!--<div class="col-md-3 text-center">-->
          <!--<button class="btn btn-primary waves-light" mdbWavesEffect (click)="congeMensuelle()">Etats Congé mensuelle</button>-->

        <!--</div>-->
        <div class="col-md-4">
          <button class="btn btn-primary waves-light" mdbWavesEffect (click)="statsEtablissement()">Etats Etablissement</button>
        </div>
      </div>
    </div>
  </div>
</section>
