<mat-toolbar color="primary" class="full margin-bottom10">
  <div class="navbar-header">
    <span fxShow="true" fxShow.gt-xs>
      Gestion des salles
    </span>
  </div>
  <span fxFlex></span>
  <a [routerLink]="['/menu/salle/gestion']">
    <button mat-button class="btn">
      <mat-icon>add</mat-icon> Ajouter une Salle </button></a>
</mat-toolbar>
<mat-card class="mat-card ">
  <mat-card-header>
    <mat-card-title>
      Recheche de salle
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field class="full">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort class="full">
        <ng-container matColumnDef="salle">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Description </th>
          <td mat-cell *matCellDef="let salle"> {{salle.nom}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef>
            <button mat-icon-button color="accent">
              Ajouter
              <mat-icon matTooltip="Ajouter" matTooltipPosition="after">add</mat-icon>
            </button>
          </mat-header-cell>
          <td mat-cell *matCellDef="let sousCategorie">
            <button mat-icon-button color="accent" >
              <mat-icon matTooltip="Modifier" matTooltipPosition="after">border_color</mat-icon>
            </button>
            &nbsp;
            &nbsp;
            <button mat-icon-button color="accent">
              <mat-icon matTooltip="Supprimer" matTooltipPosition="after">delete</mat-icon></button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns" style="text-align: center"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </form>
  </mat-card-content>
</mat-card>

