<div mat-dialog-title class="view gradient-card-header blue darken-2">
    <h4 class="h4-responsive text-white"> Ajout nouvelle salle </h4>
</div>

<form #salleform="ngForm" class="col-md-12 mt-5">
    <mat-dialog-content class="mat-typography">
        <mat-form-field class="col-md-12">
            <input matInput placeholder="Nom salle" id="nom" type="text" name="description"
                   [(ngModel)]="salle.description"
                   #login="ngModel">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button class="btn btn-success btn-rounded float-right" [mat-dialog-close]="true" type="submit"
                (click)="save(salle)">Ajouter
        </button>
    </mat-dialog-actions>
</form>