<div class="view gradient-card-header blue darken-2">
  <h4 class="h4-responsive text-white">Liste salle disponible </h4>
</div>
<section class="mt-5">
    <table datatable class="row-border hover" >
      <thead>
      <tr>
        <th>Salle ID</th>
        <th>Salle Nom</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="strong" style="font-weight: bold">Salle ID</td>
        <td class="strong" style="font-weight: bold">Salle Nom</td>
      </tr>
      <tr *ngFor="let salleList of listSalle">
        <td>{{salleList.id}}</td>
        <td>{{salleList.nom}}</td>
      </tr>
      </tbody>
    </table>
</section>