html, body{ background-color: #0c3750 }
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}
.login-form {
  min-width: 150px;
  max-width: 400px;
  width: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

mat-form-field {
  width: 100%;
}

.button-right{
  float: right;
  right: 0px;
  margin: 0;
}
.login-content {
  position: relative;
  height: 45vh;
  margin: 10% 72px;
}
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  width: 39%;
}
.loginImg {
  width: 40%;
  height: 40%;
}
.tz-button{display: block;width: 100%;background-color:#2e6bb1!important; padding: 2%}
.tz-header-login{ text-align: center;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  padding: 4%; background: #2e6bb1; color: white;}

.mask {
  position: fixed;
  z-index: 999;
  height: 200px;
  width: 100px;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* Absolute Center Spinner */
  &:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #166B37;
    opacity: 0.4;
  }
}

/**
responsive touche pas
 */
@media screen and (max-width: 600px){
  .login-content{ margin: 16% 7px!important;}
}
@media screen and (max-width: 900px) {
  .login-content {
    margin: 25% 7px !important;
  }
}
.mat-input-element{padding: 2%}



