<div>
  <div class="row">

    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon">
            <i class="material-icons">school</i>
          </div>
          <p class="card-category">Elève</p>
          <h3 class="card-title">0
            <small></small>
          </h3>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">person</i>
            </div>
            <p class="card-category">Professeur</p>
            <h3 class="card-title">0
              <small></small>
            </h3>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
              <div class="card-icon">
                <i class="material-icons">kitchen</i>
              </div>
              <p class="card-category">Classes</p>
              <h3 class="card-title">0
                <small></small>
              </h3>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">people</i>
                </div>
                <p class="card-category">Users</p>
                <h3 class="card-title">0
                  <small></small>
                </h3>
              </div>
            </div>
          </div>
    
  </div>


  <div class="flex-center">
      <form class="principal-form">
    
        <div class="center-button">
          <!--<a routerLink = "">-->
          <button mat-raised-button >Souscription</button>
          <!--</a>-->
          <!--<a routerLink = "">-->
          <button mat-raised-button >Gestion</button>
          <!--</a>-->
        </div>
  
        <div class="center-button">
          <a routerLink = "/menu/etudiant">
          <button mat-raised-button >Etudiant</button>
          </a> 
          <!--<a routerLink = "">-->
          <button mat-raised-button >Professeur</button>
          <!--</a>-->
        </div>
  
        <div class="center-button">
          <!--<a routerLink = "">-->
          <button mat-raised-button >Evenement</button>
          <!--</a>-->
          <!--   <a routerLink= "pos/box-opening">-->
          <button mat-raised-button>Administration</button>
          <!--  </a>-->
        </div>
  
          
      </form>
    </div>
  
  
</div>
