<div>
  <div class="flex-center">
    <form class="principal-form">
      <div class="center-button">
        <!--<a routerLink = "">-->
        <button mat-raised-button >Souscription</button>
        <!--</a>-->
        <!--<a routerLink = "">-->
        <button mat-raised-button >Gestion</button>
        <!--</a>-->
      </div>
      <div class="center-button">
        <!--<a routerLink = "">-->
        <button mat-raised-button >Etudiant</button>
        <!--</a>-->
        <!--<a routerLink = "">-->
        <button mat-raised-button >Professeur</button>
        <!--</a>-->
      </div>
      <div class="center-button">
        <!--<a routerLink = "">-->
        <button mat-raised-button >Evenement</button>
        <!--</a>-->
        <!--   <a routerLink= "pos/box-opening">-->
        <button mat-raised-button>Administration</button>
        <!--  </a>-->
      </div>
    </form>
  </div>
</div>
