<div class="view gradient-card-header blue darken-2">
  <h4 class="h4-responsive text-white">Liste classes </h4>
</div>
<section class="mt-lg-5">
  <div class="row">
    <a class="col-xl-3 col-md-6 mb-3 m-0" *ngFor="let class of classe">
      <div class="card card-cascade cascading-admin-card" (click)="checkListEtudiant(class.id)">
        <div class="admin-up">
          <i class="fa fa-group primary-color"></i>
          <div class="data">
            <!--<h6><strong>{{niveau.id}}</strong></h6>-->
            <h2 style="font-weight: bold;color: #aa66cc;">{{class.description}}</h2>
          </div>
        </div>
        <div class="card-body text-center">
          <p>Listes des étudiants en {{class.description}}</p>
        </div>
      </div>
    </a>
  </div>
</section>
<div class="maskSpinner" *ngIf="loading">
  <app-radar-spinner
    [animationDuration]="4000"
    [size]="200"
    [color]="'#2e6bb1'"
  ></app-radar-spinner>
</div>
