<mat-toolbar  class="view gradient-card-header blue darken-2" style="padding:3%!important" color="primary">
  <span>
    Liste des classes
  </span>
  <span fxFlex></span>
  <a mdbBtn  [routerLink]="['/menu/list-classe-eft']"
     class="tz-btn-circle m-1 rounded-circle relative waves-light text-center" style="background: #a6c!important;color: aliceblue;"  color="secondary" mdbWavesEffect>
    <i class="fa fa-plus-circle"></i>
  </a>
</mat-toolbar>
<section class="mt-lg-5">
  <div class="row">
    <a class="col-xl-3 col-md-6 mb-3 m-0" *ngFor="let class of classe">
      <div class="card card-cascade cascading-admin-card" (click)="checkListEtudiant(class.id)">
        <div class="admin-up">
          <i class="fa fa-group primary-color"></i>
          <div class="data">
            <!--<h6><strong>{{niveau.id}}</strong></h6>-->
            <h4 style="font-weight: bold;color: #aa66cc;">{{ (class.description.length>4)? (class.description | slice:0:4)+'...':(class.description)}}</h4>
          </div>
        </div>
        <div class="card-body text-center">
          <p>Étudiants en {{class.description}}</p>
        </div>
      </div>
    </a>
  </div>
</section>
<div class="maskSpinner" *ngIf="loading">
  <app-radar-spinner
    [animationDuration]="4000"
    [size]="200"
    [color]="'#2e6bb1'"
  ></app-radar-spinner>
</div>
