<div class="view gradient-card-header blue darken-2">
  <h4 class="h4-responsive text-white">Liste des Professeurs : {{listProff.length}} </h4>
</div>
<section class="mt-5">
  <div class="px-2">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-striped table-bordered" style="width:100%">
      <thead>
      <tr>
        <th  class="text-center">id</th>
        <th  class="text-center">Nom</th>
        <th class="text-center">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let proff of listProff">
        <td class="text-center">{{proff.id}}</td>
        <td class="text-center">{{proff.nom}}</td>
        <td class="text-center">
          <a mdbBtn data-toggle="modal"  (click)="detailsModal.show()"  data-target="#detailsModal"
             class="tz-btn-circle m-1 rounded-circle relative waves-light" color="info">
            <i class="fa fa-eye"></i>
          </a>

          <!--modal details-->
          <div mdbModal #detailsModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
               [config]="{backdrop: false, ignoreBackdropClick: false}" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="detailsModal.hide()">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100">{{proff.nom}}  <i class="fa fa-user-circle"></i></h4>
                </div>
                <div class="modal-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <div class="text-left">Profs ID</div>
                      <div class="text-right">{{proff.id}}</div>
                    </li>
                    <li class="list-group-item">
                      <div class="text-left">Profs Nom</div>
                      <div class="text-right">{{proff.nom}}</div>
                    </li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" mdbBtn color="secondary"
                          class="waves-light w-100" aria-label="Close" (click)="detailsModal.hide()" mdbWavesEffect>Close</button>
                </div>
              </div>
            </div>
          </div>
          <!--fin modal details-->
          <a mdbBtn data-toggle="modal" data-target="#editModal"
             class=" tz-btn-circle  m-1 relative waves-light" color="success"  (click)="editModal.show()">
            <i class="fa fa-edit"></i>
          </a>
          <!--edit modals-->
          <div mdbModal #editModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
               [config]="{backdrop: false, ignoreBackdropClick: false}" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100" >{{proff.nom}}  <i class="fa fa-user-circle"></i></h4>
                </div>
                <div class="modal-body">
                  <div class="md-form mb-5">
                    <input type="text" id="orangeForm-name" value="{{proff.nom}}" class="form-control validate"
                           mdbInputDirective>
                    <label data-error="wrong" data-success="right" for="orangeForm-name">Profs Nom</label>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" mdbBtn color="secondary" class="waves-light w-50" aria-label="Close" (click)="editModal.hide()" mdbWavesEffect>Cancel</button>
                  <button type="button" mdbBtn color="primary" class="relative waves-light  w-50" mdbWavesEffect>Save changes</button>
                </div>
              </div>
            </div>
          </div>
          <!--fin modal edit-->

          <a mdbBtn data-toggle="modal" data-target="#detailsModal" (click)="deleteModal.show()"
             class=" tz-btn-circle  m-1 relative waves-light" color="danger">
            <i class="fa fa-trash"></i>
          </a>
          <!--modal delete-->
          <div mdbModal #deleteModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
               [config]="{backdrop: false, ignoreBackdropClick: false}" aria-hidden="true" aria-labelledby="myBasicModalLabel">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="deleteModal.hide()">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100" id="myModalLabel">Supprimer <i class="fa fa-user-circle"></i></h4>
                </div>
                <div class="modal-body d-flex">
                  <button type="button" mdbBtn color="secondary" class="waves-light w-50" aria-label="Close" (click)="deleteModal.hide()" mdbWavesEffect>Cancel</button>
                  <button type="button" mdbBtn color="primary" class="relative waves-light w-50" mdbWavesEffect>Confirm</button>
                </div>
              </div>
            </div>
          </div>
          <!--fin modal delete-->
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

<!--<section>-->
  <!--<div class="mat-elevation-z8">-->
    <!--<table mat-table [dataSource]="dataSource" class="w-100">-->

      <!--&lt;!&ndash; Position Column &ndash;&gt;-->
      <!--<ng-container matColumnDef="nom">-->
        <!--<th mat-header-cell *matHeaderCellDef class="text-center"> Nom matiere</th>-->
        <!--<td mat-cell *matCellDef="let _profs" class="text-center"> {{_profs.description}}</td>-->
      <!--</ng-container>-->
      <!--<ng-container matColumnDef="coefficient">-->
        <!--<th mat-header-cell *matHeaderCellDef class="text-center"> Coefficient</th>-->
        <!--<td mat-cell *matCellDef="let _profs" class="text-center"> {{_profs.coefficient}}</td>-->
      <!--</ng-container>-->
      <!--<ng-container matColumnDef="class">-->
        <!--<th mat-header-cell *matHeaderCellDef class="text-center"> Classe</th>-->
        <!--<td mat-cell *matCellDef="let _profs" class="text-center"> {{_profs.classe.description}}</td>-->
      <!--</ng-container>-->
      <!--<ng-container matColumnDef="prof">-->
        <!--<th mat-header-cell *matHeaderCellDef class="text-center"> Prof</th>-->
        <!--<td mat-cell *matCellDef="let _matiere" class="text-center"></td>-->
      <!--</ng-container>-->
      <!--<ng-container matColumnDef="action">-->
      <!--</ng-container>-->
    <!--</table>-->
  <!--</div>-->
<!--</section>-->
